.toast_content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .toast_inner {
        padding: 0.6rem;
        background-color: rgba(0,0,0,0.8);
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.26rem;
        border-radius: 0.2rem;
    }
}